# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written to a build-specific subdirectory.
#  However, in case you run PyInstaller from your project directory, you may want to ignore these files.
#  For example, if your test suite creates these files:
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Instance folder
instance/

# Database files
*.sqlite
*.db

# Operating System files
.DS_Store
Thumbs.db